<link rel="stylesheet" href="/css/header.css">

<div id='header'>
    <div>
        <h1>Finance App</h1>
    </div>

    <div>
        <%if(locals.user){%>
            <div>
                <a href='/user/profile/<%=locals.user.id%>'>
                    <%=user.name%>
                </a>
            </div>
            <div><a href='/user/sign-out'>Logout</a></div>
            <% }else{%>
                <div><a href='/user/sign-in'>Sign In</a></div>
                <div><a href='/user/sign-up'>Sign Up</a></div>
                <%}%>

    </div>
</div>
<div>

</div>
<div>
    <div>
        <h1>Welcome to Finance App</h1>
    </div>
    <div>
        <p>We target the right user segments ans run the most relevant campaigns. </p>
    </div>
</div>